#bd
  .yui-g 
    %div{:class => "yui-u first"}
      #maintext
        %h2 Välkommen till en agil konferens om agila metoder!
        %p 
          Hur många gånger har du kommit hem från en konferens och konstaterat att de roligaste och mest intressanta samtalen förts i fikapauserna? Att det mest inspirerande och lärorika erfarenheterna kommer i de möten och diskussioner som inte är styrda av programpunkter? Har du inte ofta tänkt att det vore spännande att ta de här spontant uppkomna idéerna tillvara och låta fler ta del av dem?
        %p
          Fler har tänkt som du, och därför är det fantastiskt glädjande att kunna bjuda in till Agila Sverige 2008!
        %p
          Det här är inte bara en konferens om agila metoder – det är också Sveriges första agila konferens! Innehåll och profil växer fram under de två dagar som konferensen pågår, utifrån de samtal som förs och de frågeställningar som identifieras.
        %p
          Du kan 
          %a{:href => "#{url(:attendants)}/new?speaker=true"} delta som talare. 
          Lättrörlig metodik värdesätter högst av allt medarbetaren och samtalet, och alla besökare ges i enlighet med det möjlighet att bidra med sina erfarenheter och idéer. Experter och studenter, chefer eller juniorkonsulter, beställare eller leverantörer – alla infallsvinklar välkomnas så länge de har en koppling till den lättrörliga metodiken.
        %p
          På förmiddagarna hålls så kallade 
          %a{:href => "http://en.wikipedia.org/wiki/Lightning_Talks"} blixttal 
          som inte får överskrida 10 minuter. Talaren ger sin korta och kärnfulla syn på agil metodik eller något relaterat – kanske ett verktyg, en erfarenhet eller ett problem. På eftermiddagarna anordnas sedan ett så kallat 
          %a{:href => "http://en.wikipedia.org/wiki/Open_Space_Technology"} Open Space
          , där ambitionen är att haka på några av de tankar som väcks under förmiddagens blixttal. På så vis växer konferensens tema fram efterhand.
        %p
          Agila, eller lättrörliga, metoder vinner alltmer insteg i olika utvecklingsprojekt. Vi ser att intresset ökar explosionsartat, såväl bland systemutvecklare som beställare. 
          Den agila konferensformen har tidigare testats i Norge, på 
          %a{:href => "http://smidig.no/smidig2007"} Smidig 2007. 
          Det arrangemanget blev en stor succé, med engagerade och inspirerade deltagare som resultat. Vi ser fram emot lika inspirerande dagar i Stockholm.
    .yui-g
      %div{:class => "yui-u first"}
        #info
          %h3 
            Vad kostar det?
          = partial 'shared/prices'
          %h3
            Vad ingår?
          %ul
            %li 
              Två dagars konferens
            %li Konferensmiddag den 2 juni
          %p.register
            %a{:href => "#{url(:attendants)}/new"} Jag vill anmäla mig till Agila Sverige 2008!
          %p.register
            %a{:href => "#{url(:attendants)}/new?speaker=true"} Jag vill tala på Agila Sverige 2008!
          %h3
            Var?
          %p
            %a{:href => "http://www.citykonferensen.se/"}
              %img{:src => "/images/citykonferens.png"} 
          %p.addressline
            Malmskillnadsgatan 46
          %p.addressline
            Stockholm
      .yui-u
        #sponsors
          = partial 'shared/sponsors'
#ft
  = partial 'shared/footer'