#bd
  .yui-g 
    %div{:class => "yui-u first"}
      #maintext
        #attendantinfo
          %h2 Äntligen!
          %p 
            Var med på Sveriges första agila konferens om agila metoder! Agila    
            Sverige 2008 är unik i sitt fokus på 
            individer och interaktion.
          %p
            Konferensen pågår i två dagar. Förmiddagarna kommer att bestå av blixttal (Lightning talks). Ett blixttal är max 10 minuter långt vilket tvingar föreläsaren att fokusera på det viktigaste innehållet i presentationen. Med fem blixttal i timmen blir det mycket innehåll att ta del av.  
          %p
            Om man tycker att det finns mer att diskutera efter att ha lyssnat på ett ämne ges tillfälle för det på eftermiddagarna. Då kommer konferensen helt bestå av öppna ytor för diskussion (Open Space). Detta är en konferensform som använts med mycket stor framgång sedan 1980-talet.
        #speakerinfo
          %h2 Tala på Agila Sverige 2008!
          %p
            Vi söker talare, både erfarna och mindre erfarna personer som vill 
            dela med sig av sina kunskaper, berätta om nya tekniker, förklara     
            gamla eller kanske bara testa nya idéer inför en engagerad och kunnig     
            publik. Nivån på föredragen kan spänna över hela spektrat från 
            nybörjare till experter. Du behöver alltså inte vara expert för att 
            tala. Eftersom det handlar om blixttal (max 10 minuter) så bör ämnet 
            vara väldefinierat och kondenserat.
          %p
            Vi vill att talen skall ha en tydlig koppling till 
            lättrörliga metoder och/eller utövandet kring dessa. Det kan 
            exempelvis vara fallstudier, handla om utmaningar kring införandet av 
            praxis eller erfarenheter av verktyg och metoder.
    .yui-g
      %div{:class => "yui-u first"}
        #info
          = partial 'shared/prices'
          %p.register
            %a{:href => "#{url(:register)}"} Jag vill anmäla mig till Agila Sverige 2008!
            %p.register
              %a{:href => "#{url(:register)}?speaker=true"} Jag vill tala på Agila Sverige 2008!
      
      .yui-u
        #sponsors
          = partial 'shared/sponsors'
#ft
  = partial 'shared/footer'