#bd
  .yui-gc
    .yui-u.first
      %h1 Måndag
      %table
        %tr
          %th Tid
          %th Polhemssalen
          %th Celsiussalen
        %tr
          %td 08:00 - 09:00
          %td{:id => "registration", :colspan => "2"} Registrering
        %tr
          %td 09:00 - 10:00
          %td Introduktion
          %td Introduktion
        %tr
          %td
          %td 
            = partial :talkinfo, :with => {:day => 1, :track => 1, :slot => 1, :talk => 1}
          %td 
            = partial :talkinfo, :with => {:day => 1, :track => 2, :slot => 1, :talk => 1}
        %tr
          %td
          %td 
            = partial :talkinfo, :with => {:day => 1, :track => 1, :slot => 1, :talk => 2}
          %td 
            = partial :talkinfo, :with => {:day => 1, :track => 2, :slot => 1, :talk => 2}
        %tr
          %td
          %td 
            = partial :talkinfo, :with => {:day => 1, :track => 1, :slot => 1, :talk => 3}
          %td
            = partial :talkinfo, :with => {:day => 1, :track => 2, :slot => 1, :talk => 3}
        %tr
          %td
          %td
            = partial :talkinfo, :with => {:day => 1, :track => 1, :slot => 1, :talk => 4}
          %td
            = partial :talkinfo, :with => {:day => 1, :track => 2, :slot => 1, :talk => 4}
        %tr
          %td 10:00 - 10:20
          %td{:class => "paus", :colspan => "2"} Kaffepaus
        %tr
          %td 10:20 - 11:20
          %td 
            = partial :talkinfo, :with => {:day => 1, :track => 1, :slot => 2, :talk => 1}
          %td
            = partial :talkinfo, :with => {:day => 1, :track => 2, :slot => 2, :talk => 1}
        %tr
          %td
          %td
            = partial :talkinfo, :with => {:day => 1, :track => 1, :slot => 2, :talk => 2}
          %td
            = partial :talkinfo, :with => {:day => 1, :track => 2, :slot => 2, :talk => 2}
        %tr
          %td
          %td
            = partial :talkinfo, :with => {:day => 1, :track => 1, :slot => 2, :talk => 3}
          %td
            = partial :talkinfo, :with => {:day => 1, :track => 2, :slot => 2, :talk => 3}
        %tr
          %td
          %td
            = partial :talkinfo, :with => {:day => 1, :track => 1, :slot => 2, :talk => 4}
          %td
            = partial :talkinfo, :with => {:day => 1, :track => 2, :slot => 2, :talk => 4}
        %tr
          %td
          %td
            = partial :talkinfo, :with => {:day => 1, :track => 1, :slot => 2, :talk => 5}
          %td
            = partial :talkinfo, :with => {:day => 1, :track => 2, :slot => 2, :talk => 5}
        %tr
          %td 11:20 - 11:30
          %td{:class => "paus", :colspan => "2"} Paus
        %tr
          %td 11:30 - 12:30
          %td 
            = partial :talkinfo, :with => {:day => 1, :track => 1, :slot => 3, :talk => 1}
          %td
            = partial :talkinfo, :with => {:day => 1, :track => 2, :slot => 3, :talk => 1}
        %tr
          %td
          %td
            = partial :talkinfo, :with => {:day => 1, :track => 1, :slot => 3, :talk => 2}
          %td
            = partial :talkinfo, :with => {:day => 1, :track => 2, :slot => 3, :talk => 2}
        %tr
          %td 
          %td
            = partial :talkinfo, :with => {:day => 1, :track => 1, :slot => 3, :talk => 3}
          %td 
            = partial :talkinfo, :with => {:day => 1, :track => 2, :slot => 3, :talk => 3}
        %tr
          %td
          %td 
            = partial :talkinfo, :with => {:day => 1, :track => 1, :slot => 3, :talk => 4}
          %td 
            = partial :talkinfo, :with => {:day => 1, :track => 2, :slot => 3, :talk => 4}
        %tr
          %td
          %td 
            = partial :talkinfo, :with => {:day => 1, :track => 1, :slot => 3, :talk => 5}
          %td
            = partial :talkinfo, :with => {:day => 1, :track => 2, :slot => 3, :talk => 5}

      %h1 Tisdag
      %table
        %tr
          %th Tid
          %th Polhemssalen
          %th Celsiussalen
        %tr
          %td 09:00 - 10:00
          %td 
            = partial :talkinfo, :with => {:day => 2, :track => 1, :slot => 1, :talk => 1}
          %td 
            = partial :talkinfo, :with => {:day => 2, :track => 2, :slot => 1, :talk => 1}
        %tr
          %td
          %td 
            = partial :talkinfo, :with => {:day => 2, :track => 1, :slot => 1, :talk => 2}
          %td
            = partial :talkinfo, :with => {:day => 2, :track => 2, :slot => 1, :talk => 2}
        %tr
          %td
          %td
            = partial :talkinfo, :with => {:day => 2, :track => 1, :slot => 1, :talk => 3}
          %td
            = partial :talkinfo, :with => {:day => 2, :track => 2, :slot => 1, :talk => 3}
        %tr
          %td
          %td
            = partial :talkinfo, :with => {:day => 2, :track => 1, :slot => 1, :talk => 4}
          %td
            = partial :talkinfo, :with => {:day => 2, :track => 2, :slot => 1, :talk => 4}
        %tr
          %td
          %td 
            = partial :talkinfo, :with => {:day => 2, :track => 1, :slot => 1, :talk => 5}
          %td
            = partial :talkinfo, :with => {:day => 2, :track => 2, :slot => 1, :talk => 5}
        %tr
          %td 10:00 - 10:20
          %td{:class => "paus", :colspan => "2"} Kaffepaus
        %tr
          %td 10:20 - 11:20
          %td 
            = partial :talkinfo, :with => {:day => 2, :track => 1, :slot => 2, :talk => 1}
          %td
            = partial :talkinfo, :with => {:day => 2, :track => 2, :slot => 2, :talk => 1}
        %tr
          %td
          %td 
            = partial :talkinfo, :with => {:day => 2, :track => 1, :slot => 2, :talk => 2}
          %td
            = partial :talkinfo, :with => {:day => 2, :track => 2, :slot => 2, :talk => 2}
        %tr
          %td
          %td
            = partial :talkinfo, :with => {:day => 2, :track => 1, :slot => 2, :talk => 3}
          %td
            = partial :talkinfo, :with => {:day => 2, :track => 2, :slot => 2, :talk => 3}
        %tr
          %td
          %td 
            = partial :talkinfo, :with => {:day => 2, :track => 1, :slot => 2, :talk => 4}
          %td 
            = partial :talkinfo, :with => {:day => 2, :track => 2, :slot => 2, :talk => 4}
        %tr
          %td
          %td 
            = partial :talkinfo, :with => {:day => 2, :track => 1, :slot => 2, :talk => 5}
          %td
            = partial :talkinfo, :with => {:day => 2, :track => 2, :slot => 2, :talk => 5}
        %tr
          %td 11:20 - 11:30
          %td{:class => "paus", :colspan => "2"} Paus
        %tr
          %td 11:30 - 12:30
          %td 
            = partial :talkinfo, :with => {:day => 2, :track => 1, :slot => 3, :talk => 1}
          %td
            = partial :talkinfo, :with => {:day => 2, :track => 2, :slot => 3, :talk => 1}
        %tr
          %td
          %td
            = partial :talkinfo, :with => {:day => 2, :track => 1, :slot => 3, :talk => 2}
          %td
            = partial :talkinfo, :with => {:day => 2, :track => 2, :slot => 3, :talk => 2}
        %tr
          %td
          %td
            = partial :talkinfo, :with => {:day => 2, :track => 1, :slot => 3, :talk => 3}
          %td
            = partial :talkinfo, :with => {:day => 2, :track => 2, :slot => 3, :talk => 3}
        %tr
          %td
          %td
            = partial :talkinfo, :with => {:day => 2, :track => 1, :slot => 3, :talk => 4}
          %td
            = partial :talkinfo, :with => {:day => 2, :track => 2, :slot => 3, :talk => 4}
        %tr
          %td
          %td
            = partial :talkinfo, :with => {:day => 2, :track => 1, :slot => 3, :talk => 5}
          %td
            = partial :talkinfo, :with => {:day => 2, :track => 2, :slot => 3, :talk => 5}
    .yui-u
      #sponsors
        = partial 'shared/sponsors'
#ft
  = partial 'shared/footer'
