.row-fluid.well
  %h2
    Välkommen till Agila Sverige 2014
.row-fluid
  - if @user.confirmed_attendant_this_year?
    %p.alert.alert-info
      Tack för din anmälan till årets konferens! Vi ser fram emot att träffa dig
      den 20-21 maj.
  - else
    %p.alert.alert-info
      För att delta i årets konferens måste du antingen vara talare eller |
      betalande deltagare. Talaranmälan är stängd, men du har möjlighet att |
      betala nedan
.row-fluid.well
  .span6
    %h2 Tala
    = render :partial => 'shared/speaking_proposal_info'

    - if @user.speaking_proposals.for_current_conference.empty?
      %p
        Du har inga registrerade talarförslag, men du kanske vill
        skicka in ett?
    - else
      %form
        %fieldset
          %legend Anmälda talförslag
        %ul
          - @user.speaking_proposals.for_current_conference.each do |speaking_proposal|
            %li= link_to speaking_proposal.title, speaking_proposal_path(speaking_proposal)


    = semantic_form_for @speaking_proposal do |f|
      = f.inputs 'Anmäl ett nytt tal' do
        = f.input :title, :label => 'Titel'
        = f.input :abstract, :as => :text, :label => 'Beskrivning'
        = f.input :accept_terms, :as => :boolean, :label => "Jag accepterar villkoren ovan"
      = f.actions do
        = f.action :submit, :label => "Skicka in", button_html: {class: 'btn btn-info'}

  .span6
    %h2 Betala
    - if @registration_status == :paid
      %p Din avgift är betald
    - elsif @registration_status == :failed
      .alert.alert-error
        Din betalning misslyckades, var vänlig
        %a{:href => 'mailto:info@agilasverige.se'}kontakta oss
        eller
        = link_to "Försök igen", payment_start_path, class: 'btn btn-success'
    - else
      - closed = false
      - if closed
        %p
          Anmälan till årets konferens har tyvärr stängt.
      - else
        %p
          Vi har inte tagit emot någon betalning för ditt deltagande.
        %p
          Priset för att deltaga i årets konferens är SEK 3000 (ex. moms). I priset ingår
          deltagande i konferensen, lunch bägge dagarna samt konferensmiddagen den
          4:e juni.
        %p
          Klicka på länken nedan för att komma till vår betalningstjänst.
        = link_to "Betala", payment_start_path, class: 'btn btn-info'
.row-fluid.well
  %h2 Dina uppgifter
  .gravatar
    = image_tag @user.gravatar_url, :alt => 'Ändra din bild på gravatar.com', :title => 'Ändra din bild på gravatar.com'
  = semantic_form_for @user do |f|
    = f.inputs :name => 'Personuppgifter' do
      .span6
        = f.input :first_name, :label => 'Förnamn'
        = f.input :last_name, :label => 'Efternamn'
        = f.input :email, :as => :email, :label => 'Emailadress'
        = f.input :password, :label => 'Lösenord'
        = f.input :password_confirmation, :label => 'Lösenordsbekräftelse'
        = f.input :organization, :label => 'Organisation'
      .span6
        = f.input :attending_dinner, :as => :boolean, :label => 'Kommer på middag'
        = f.input :food_preferences, :label => 'Matpreferenser'
        = f.input :comments, :label => 'Kommentar'
    = f.actions do
      = f.action :submit, :label => "Uppdatera uppgifter"
