.hero-unit
  .row-fluid
    .span8
      .latest
      %p 
      %h1 Tack för i år! 
      %br 
      Vi kom från startups, myndigheter, anrika internationella företag, små och stora konsultbolag. Vi har skrattat, debatterat, kramats och roastats. Tagit upp mindfulness, coachning, arkitektur, SAFE, förändring, lisp och Spice Girls. Vi lärde oss, lärde ut och inspirerades.  
      %p  
      Filmerna från konferensen hittar du hos 
      = link_to 'Solidtango', 'http://agilasverige.solidtango.com' 
      %br
      %p 
      Vi ses 2017!
    .span4
      .date
        %h2 Stockholm 1-2 juni 2016
  .row-fluid
    .span3i
      %br
      %p
        = link_to '#login', class: 'btn btn-large btn-info' do
          %i.icon-white.icon-user
          Jag vill logga in
    .span3
      %p

#location.row-fluid.well
  .span4
    %h2 Plats
    %p Vi återanvänder succélokalen med bland annat gott om plats för Open Space och takterrass för mingel.
    %p
      7A Odenplan, Odengatan 65 - T-bana Odenplan
  .span2
    %p
  .span6
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Odengatan+65,+Stockholm,+Sweden&amp;aq=0&amp;oq=odengatan+65,+s&amp;sll=37.0625,-95.677068&amp;sspn=43.307813,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=Odengatan+65,+113+22+Stockholm,+Sweden&amp;t=m&amp;z=14&amp;ll=59.343034,18.052216&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Odengatan+65,+Stockholm,+Sweden&amp;aq=0&amp;oq=odengatan+65,+s&amp;sll=37.0625,-95.677068&amp;sspn=43.307813,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=Odengatan+65,+113+22+Stockholm,+Sweden&amp;t=m&amp;z=14&amp;ll=59.343034,18.052216" style="color:#0000FF;text-align:left">View Larger Map</a></small>
#about.row-fluid.well
  =render :partial => 'shared/about_conference'
#login.row-fluid.well
  .span12
    %h2 Logga in
    = semantic_form_for(@user, :url => session_path(@user)) do |f|
      = f.inputs do
        = f.input :email, :label => 'E-postadress'
        = f.input :password, :label => 'Lösenord'
      = f.actions do
        = f.action :submit, label: 'Logga in', button_html: {class: 'btn btn-primary'}
.span12 
  .h2 Sponsorer
