.hero-unit
  .row-fluid
    .span6
      .latest  
        %h1 Programmet! 
        %p
          %br
          =link_to 'Ladda ner programmet här', '/static_files/agila_sverige_program_2014.pdf' 
        %p Nu närmar sig konferensen med stormsteg och vi ser verkligen fram emot att få dela dessa dagar med er! 
        Vi hoppas att ni är redo för nya insikter, möten och skratt!
    .span6
      .date
        %h2 Stockholm 4-5 juni 2014
  .row-fluid
    .span3
      %p
        %br
        = link_to '#login', class: 'btn btn-large btn-info' do
          %i.icon-white.icon-user
          Jag vill logga in
    .span3
      %p
#login.row-fluid
  .span4
    %h2 Hitta hit
    %p I år har vi hittat en konferenslokal som vi tror kommer att toppa föregående års lokaler! 
    Mest av allt ser vi fram emot att utnytja dess takterass för spännande diskussioner.
    %p 
      7A Odenplan, Odengatan 65 - T-bana Odenplan
  .span4
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Odengatan+65,+Stockholm,+Sweden&amp;aq=0&amp;oq=odengatan+65,+s&amp;sll=37.0625,-95.677068&amp;sspn=43.307813,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=Odengatan+65,+113+22+Stockholm,+Sweden&amp;t=m&amp;z=14&amp;ll=59.343034,18.052216&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Odengatan+65,+Stockholm,+Sweden&amp;aq=0&amp;oq=odengatan+65,+s&amp;sll=37.0625,-95.677068&amp;sspn=43.307813,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=Odengatan+65,+113+22+Stockholm,+Sweden&amp;t=m&amp;z=14&amp;ll=59.343034,18.052216" style="color:#0000FF;text-align:left">View Larger Map</a></small>
.row-fluid
  .span4
    %h2 Öppenhet
    %p
      Agila Sverige är en konferens där till och med konferensformatet är agilt.
      Förmiddagarna ägnas åt blixttal, 10-minuters koncentrerade presentationer från
      olika medlemmar i det agila communityt. Vi har 60 platser till förfogande och tar
      gärna med dig som talar för första gången.
    %p
      Intresserad av att tala? Du kan anmäla tal när du registrerat dig och loggat in.
    %p
      Efter en förmiddag med många intressanta tal så öppnas diskussionsslussarna på
      eftermiddagen med Open X. Här anmäler du som konferensdeltagare det ämne du är
      intresserad av att diskutera.
  .span4
    %h2 Gemenskap
    %p
      Stockholms mest intresserade agilister samlas i två dagar i de fantastiska
      lokalerna på 7A vid Odenplan för att diskutera hur vi kan göra systemutveckling
      effektivare, roligare och mer värdeskapande.
    %p
      På onsdagskvällen kör vi först en gemensam middag för alla konferensdeltagare. När
      maten är uppäten öppnar vi dörrarna för Eftersläpp Agile Style, där även de som
      inte deltagit på konferensen är välkomna.
  .span4
    %h2 Kunskap
    %p
      När vi för sjätte året i rad arrangerar Agila Sverige vet vi att de som återkommer
      gör det för kunskapsutbytet. Ingen annanstans har du möjligheten att dela med dig och
      ta del av så många branschkollegers erfarenheter från arbetet med agil systemutveckling.
    %p
      Du kan komma till Agila Sverige som nybörjare eller erfaren, som programmerare eller
      chef. Det enda de andra konferensdeltagarna förväntar sig är att du beredd att dela
      med dina erfarenheter.
#login.row-fluid.well
  .span12
    %h2 Logga in
    = semantic_form_for(@user, :url => session_path(@user)) do |f|
      = f.inputs do
        = f.input :email, :label => 'E-postadress'
        = f.input :password, :label => 'Lösenord'
      = f.actions do
        = f.action :submit, label: 'Logga in', button_html: {class: 'btn btn-primary'}
