.hero-unit
  .row-fluid
    .span6
      %h1 Ringa in i kalendern!
      %p  Missa inte nästa konferens! Anmälan öppnar snart.
    .span6
      .date
        %h2
          Stockholm
          %br
          4-5 juni 2014

  - closed = true
  - if closed

  - else
    .span12
      %h2 Jag vill gå på konferensen
      = render :partial => 'shared/attendant_info'
    = semantic_form_for @user do |f|
      = f.inputs :name => 'Personuppgifter' do
        .span6
          = f.input :first_name, :label => 'Förnamn'
          = f.input :last_name, :label => 'Efternamn'
          = f.input :email, :as => :email, :label => 'Emailadress'
          = f.input :password, :label => 'Lösenord'
          = f.input :password_confirmation, :label => 'Lösenordsbekräftelse'
          = f.input :organization, :label => 'Organisation'
        .span6
          = f.input :attending_dinner, :as => :boolean, :label => 'Kommer på middagen'
          = f.input :food_preferences, :label => 'Matpreferenser'
          = f.input :comments, :label => 'Kommentar'
      = f.buttons do
        = f.commit_button 'Skicka anmälan', button_html: {class: 'btn btn-primary'}
