.hero-unit
  .row-fluid
    .span6
      %h1 Sjätte året i rad!
      %p På måndag samlas Sveriges mesta agilister på Meeting Room i Stockholm. Anmälan är tyvärr stängd, men du kan fortfarande komma på eftersläpp på måndag kväll nedan
    .span6
      .date
        %h2 Stockholm 20-21 maj 2013
  .row-fluid
    .span3
      %p
        = link_to '#login', class: 'btn btn-large btn-info' do
          %i.icon-white.icon-user
          Jag vill logga in
-#    .span3
-#      %p
-#        = link_to "#registration", class: 'btn btn-info btn-large' do
-#          %i.icon-white.icon-pencil
-#         Jag vill registrera mig
#conference_details.row-fluid.well
  = render :partial  => 'shared/conference_details'

#registration.row-fluid.well
  - closed = true
  - if closed
    .span12
      <iframe src="https://docs.google.com/a/agilasverige.se/spreadsheet/embeddedform?formkey=dHRiSGJ0aU45QzFtb1JmMlVBM1ZpWmc6MQ" width="760" height="743" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

  - unless closed
    .span12
      %h2 Jag vill gå på konferensen
      = render :partial => 'shared/attendant_info'
    = semantic_form_for @user do |f|
      = f.inputs :name => 'Personuppgifter' do
        .span6
          = f.input :first_name, :label => 'Förnamn'
          = f.input :last_name, :label => 'Efternamn'
          = f.input :email, :as => :email, :label => 'Emailadress'
          = f.input :password, :label => 'Lösenord'
          = f.input :password_confirmation, :label => 'Lösenordsbekräftelse'
          = f.input :organization, :label => 'Organisation'
        .span6
          = f.input :attending_dinner, :as => :boolean, :label => 'Kommer på middagen'
          = f.input :food_preferences, :label => 'Matpreferenser'
          = f.input :comments, :label => 'Kommentar'
      = f.buttons do
        = f.commit_button 'Skicka anmälan', button_html: {class: 'btn btn-primary'}
#login.row-fluid.well
  .span12
    %h2 Logga in
    = semantic_form_for(@user, :url => session_path(@user)) do |f|
      = f.inputs do
        = f.input :email, :label => 'E-postadress'
        = f.input :password, :label => 'Lösenord'
      = f.buttons do
        = f.commit_button "Logga in", button_html: {class: 'btn btn-primary'}
