%h1= @attendant.first_name
%table
  %tr
    %th Id
    %th Titel
    %th Beskrivning
    %th Nivå
    %th Talare
  - @speaking_proposals.each do |sp|
    %tr
      %td= link_to sp.id, url(:attendant_speaking_proposal, sp)
      %td= link_to sp.title, url(:attendant_speaking_proposal, sp)
      %td= sp.description
      %td= sp.level
      %td= link_to "#{sp.attendant.first_name} #{sp.attendant.last_name}", url(:attendant, @attendant)
