%h2 Skicka in förslag på blixttal
= render :partial => 'shared/speaking_proposal_info'
= semantic_form_for @speaking_proposal do |f|
  = f.inputs 'Talinformation' do
    = f.input :title, :label => 'Titel'
    = f.input :abstract, :as => :text, :label => 'Beskrivning'
    = f.input :accept_terms, :as => :boolean, :label => "Jag accepterar villkoren ovan"
  = f.actions do
    = f.action :subbmit, :label => "Skicka in"
