.row-fluid.well
  .speaker_info
    - @speaking_proposal.speakers.each do |speaker|
      .gravatar
        =image_tag speaker.gravatar_url
      .speaker_name
        = speaker.full_name
  %h2= @speaking_proposal.title
  %p= @speaking_proposal.abstract
  - if @speaking_proposal.speakers.include?(current_user)
    %p
  -# = link_to "Editera", edit_speaking_proposal_path(@speaking_proposal)
  %h3 Presentationsmaterial
  %p Möjliga presentationsformat: Powerpoint, Keynote, PDF, HTML (övriga format enligt överenskommelse)
  - if not @speaking_proposal.presentation.blank?
    %p
      = link_to 'Nuvarande', @speaking_proposal.presentation.url
  - if @speaking_proposal.speakers.include?(current_user)
    = form_tag upload_presentation_speaking_proposal_path(@speaking_proposal), :multipart => true do
      = file_field_tag 'file'
      = submit_tag 'Ladda upp'
  - if current_user.present? && current_user.admin?
    = semantic_form_for @speaking_proposal, url: schedule_speaking_proposal_path(@speaking_proposal) do |f|
      = f.input :note
      = f.input :booked_day1, as: :boolean
      = f.input :booked_day2, as: :boolean
      = f.actions do
        = f.action :submit, :label => "Spara"
