


#bd
  .yui-gc
    %div{:class => "yui-u first"}
      %p= "titel #{@speaking_proposal.title}"
      %p= "Beskrivning #{@speaking_proposal.description}"
      %p= "Nivå #{@speaking_proposal.level}"
      %p= link_to "editera", url(:edit_attendant_speaking_proposal, @speaking_proposal)
    .yui-u
      #sponsors
        = partial 'shared/sponsors'
#ft
  = partial 'shared/footer'
