%h1
  Attendants 

%table
  %tr
    %th Id
    %th Last Name
    %th First Name
    %th organization
    %th Email
    %th Anmäld
    %th Talarförslag
    %th Talare
  - @attendants.each do |attendant|
    %tr 
      %td= link_to(attendant.id, url(:attendant, attendant))
      %td= link_to(attendant.last_name, url(:edit_attendant, attendant))
      %td= attendant.first_name
      %td= attendant.organization
      %td
        %a{:href => "mailto:#{attendant.email}"}
          = attendant.email
      %td= attendant.created_at
      %td 
        %a{:href => url(:attendant_speaking_proposals, :attendant_id => attendant)} 
          = attendant.speaking_proposals.size
      %td
        = attendant.wants_to_speak
