#bd
  .yui-gc 
    %div{:class => "yui-u first"} 
      %p
        Välkommen att anmäla dig till Agila Sverige 2008. 
      %table
        %tr
          %th
          %th
            Pris
        %tr
          %td
            Till och med 1 maj:
          %td
            500 kronor
        %tr
          %td
            Efter 1 maj:
          %td
            1000 kronor
        %tr
          %td
            Talare:
          %td
            0 kr
      %p
        När vi fått dina personuppgifter kommer vi att skicka en faktura till den adress du uppgivit.
      - form_for(@attendant, :action => url('attendants')) do
        %fieldset
          %legend 
            %span Personuppgifter:
          %p
            = text_control :first_name, :label => "Förnamn"
          %p
            = text_control :last_name, :label => "Efternamn"
          %p
            = text_control :email, :label => "E-postadress"
          %p
            = text_control :organization, :label => "Organisation"
          %p
            = text_control :co_address, :label => "c/o adress"
          %p
            = text_control :street_address, :label => "Gatuadress"
          %p
            = text_control :zip_code, :label => "Postnummer"
          %p
            = text_control :postal_address, :label => "Postadress"
          %p
            = text_control :country, :label => "Land"
          %p
            = text_control :telephone_number, :label => "Telefonnummer"
        %fieldset
          %legend
            %span Förslag till föredrag
          %p
            Om du vill tala på Agila Sverige 2008, fyll i fälten nedan i samband med din anmälan. Om du vill anmäla fler förslag räcker det med att ange samma e-postadress vid de tillkommande förslagen.
          - fields_for @speaking_proposal do
            %p  
              = text_control :title, :label => "Titel"
            %p
              = text_area_control :description, :label => "Beskrivning"
            
        = submit_button "Anmäl"
    .yui-u
      %h2 Sponsorer