%h1
  = "#{@attendant.first_name} #{@attendant.last_name}"
%p
  %a{:href => "mailto:#{@attendant.email}"}= @attendant.email 
  %p= "c/o address #{@attendant.co_address}"
  %p= "Gatuadress #{@attendant.street_address}"
  %p= "Postnummer #{@attendant.zip_code}"
  %p= "Postadress #{@attendant.postal_address}"
  %p= "Land #{@attendant.country}"
  %p= "Organisation #{@attendant.organization}"
  %p= "Telefonnummer #{@attendant.telephone_number}"
  %p= "Wants to speak #{@attendant.wants_to_speak}"
  %p= "Anmäld #{@attendant.created_at}"

= link_to "Editera", url(:edit_attendant, @attendant) 
= link_to "Lägg till blixttal", url(:new_attendant_speaking_proposal, :attendant_id => @attendant.id)
