%h2 Logga in
= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  = f.inputs do
    = f.input :email, :label => 'E-postadress'
    = f.input :password, :label => 'Lösenord'
    - if devise_mapping.rememberable?
      = f.input :remember_me, :as => :boolean
  = f.actions do
    = f.action :submit, label: "Logga in"
= render :partial => "devise/shared/links"
