%h2 Registrera dig
%p registreringen har stängt för 2012
-#%p= link_to "Registera dig här", new_registration_path(resource_name)
-#%p När du har registrerat dig och loggat in kan du anmäla tal.

%h2 Logga in
= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  = f.inputs do
    = f.input :email, :label => 'E-postadress'
    = f.input :password, :label => 'Lösenord'
    - if devise_mapping.rememberable?
      = f.input :remember_me, :as => :boolean
  = f.buttons do
    = f.commit_button "Logga in"
= render :partial => "devise/shared/links"
