!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "sv", :lang => "sv"}
  %head
    %title Agila Sverige 2011
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
    = stylesheet_link_tag 'compiled/application.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    = stylesheet_link_tag '/markitup/skins/simple/style.css'
    = stylesheet_link_tag '/markitup/sets/markdown/style.css'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = javascript_include_tag 'http://code.jquery.com/jquery-1.4.4.min.js'
    = javascript_include_tag '/markitup/jquery.markitup.js'
    = javascript_include_tag '/markitup/sets/markdown/set.js'
  %body{:id => controller.controller_name, :class => :bp}
    #container
      %header
        .logo
          %hgroup
            %h1
              %span
                = link_to "Agila Sverige 2011", root_path
            %h2 
              %span "Stockholm 23-24 maj 2011"
        %nav
          - semantic_navigation :main do |n|
            = n.item 'Hem', :link => root_path
            -# %li= link_to 'Program', '#'
            -# %li= link_to 'Tidigare konferenser', '#'
            - if user_signed_in?
              = n.item 'Dina inställningar', :link => current_user_path, :highlights_on => {:controller => 'users'}
              = n.item 'Anmäl blixttal', :link => new_current_user_speaking_proposal_path, :highlights_on => {:controller => 'speaking_proposals'}
              = n.item 'Logga ut', :link => destroy_user_session_path
              - if current_user.admin?
                = n.item 'Dashboard', :link => dashboard_path
            - else
              = n.item 'Anmälan', :link => new_user_registration_path
              = n.item 'Logga in', :link => new_user_session_path
      .main
        #flash
          - if flash.size > 0
            - if flash[:notice]
              %p.flash.notice= flash[:notice]
            - if flash[:error]
              %p.flash.error= flash[:error]
            - if flash[:alert]
              %p.flash.notice= flash[:alert]
            - if flash[:warning]
              %p.flash.warning= flash[:warning]
        = yield :left_side_bar
        %section
          .section-wrapper
            = content_for?(:content) ? yield(:content) : yield
        = yield :right_side_bar
      %footer
        .contact
          %span &copy; Agila Sverige 2011 |
          %a{:href => 'mailto:info@agilasverige.se'}Kontakta oss
        :javascript 
          var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
          document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        :javascript
          var pageTracker = _gat._getTracker("UA-160245-3");
          pageTracker._initData();
          pageTracker._trackPageview();
